﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>A web created to find the best way how to sort a set of images so the one image the user is looking for is easily found.</p>
