﻿@page
@model ImageFinderUserStudyWeb.Pages.ImagePresentationModel
@{
    ViewData["Title"] = "Image presentation";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <style>
        h2 {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        form {
            margin: auto;
            text-align: center;
        }
    </style>
    <h2>Image Presentation</h2>
    <p>Remember this image.</p>
    <img src="@Model.ImagePath(Model.ImageId)" style="height:500px;width:700px;" class="center-block" />
    <form method="post" asp-page-handler="Gallery">
        <button class="btn btn-default">
            Continue to image gallery
        </button>
        <input type="hidden" name="userSessionId" value="@Model.UserSessionId" />
    </form>
</div>

