﻿@page
@model ImageFinderUserStudyWeb.Pages.ImageGalleryModel
@{
    ViewData["Title"] = "ImageGallery";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <style>
        h2 {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        form {
            margin: auto;
            text-align: center;
        }
    </style>
    <h2>Image Gallery</h2>
    <p>Find the image or say it's not present!</p>
    <form method="post" asp-page-handler="ImageClick">
        <button class="btn btn-default">
            Image is not present.
        </button>
        <input type="hidden" name="userSessionGuid" value="@Model.UserSession.UserSessionId" />
        <input type="hidden" name="imageId" value="NotPresent" />
    </form>
    <div class="table-wrapper" id="imageGallery" style="overflow:auto;height:@Model.SizeInPixels(Model.GalleryHeightPixels);width:@Model.SizeInPixels(Model.GalleryWidthPixels);margin:auto;">
        <table align="center">
            @for (int row = 0; row < Model.NumberOfRows; row++)
            {
                <tr style="height:@Model.SizeInPixels(Model.PictureWidthPixels);width:@Model.SizeInPixels(Model.GalleryWidthPixels);">
                    @for (int column = 0; column < Model.NumberOfColumns; column++)
                    {
                        <td style="height:@Model.SizeInPixels(Model.PictureWidthPixels);width:@Model.SizeInPixels(Model.PictureWidthPixels);">
                            <form method="post" asp-page-handler="ImageClick" style="height:@Model.SizeInPixels(Model.PictureWidthPixels);width:@Model.SizeInPixels(Model.PictureWidthPixels);">
                                <button type="submit" style="height:@Model.SizeInPixels(Model.PictureWidthPixels);width:@Model.SizeInPixels(Model.PictureWidthPixels);background:none;border:none;padding:0">
                                    <img src=@Model.ImagePath(Model.UserSession.SortedResult[row, column]) style="height:@Model.SizeInPixels(Model.PictureWidthPixels);width:@Model.SizeInPixels(Model.PictureWidthPixels);">
                                </button>
                                <input type="hidden" name="userSessionGuid" value="@Model.UserSession.UserSessionId" />
                                <input type="hidden" name="imageId" value="@Model.UserSession.SortedResult[row, column]" />
                            </form>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>

