﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container" id="myCont">
    <style>
        h2 {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        p {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        form {
            margin: auto;
            text-align: center;
        }
    </style>
    <h2>Image finder</h2>
    <p>
        Welcome to image finder web app.
    </p>
    <p>
        Click the button to continue to a page which will provide an image.
    </p>
    <p>
        You will have to remember the image and then try finding it in a set of presented images.
    </p>
    <form method="get">
        <button type="submit" asp-page="./ImagePresentation" id="IndexPageContinueButton">
            Continue
        </button>
    </form>
    
</div>
