﻿@page
@model ImageFinderUserStudyWeb.Pages.SummaryPageModel
@{
    ViewData["Title"] = "SummaryPage";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="container">
    <style>
        h2 {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        form {
            margin: auto;
            text-align: center;
        }
    </style>
    <h2>Summary</h2>
    <p>
        @if (Model.UserSession.AnsweredCorrectly)
        {
            <text> You have answered correctly. </text>
        }
        else
        {
            <text> You have answered incorrectly. </text>
        }
    </p>
    <p>
        Number of seconds to respond: @Model.UserSession.TimeTakenToRespond.Seconds
    </p>
    <p>
        Thank you for your participation.
    </p>
    <form method="get" asp-page="Index">
        <button class="btn btn-default">
            Return home
        </button>
    </form>
</div>
